/* Configurable colours */
:root {
    --headerBackground: rgb(160, 160, 160);
    --headerDetails: rgb(120, 120, 120);
    --headerDisclaimer: rgb(80, 80, 80);

    --menuItemText: black;
    --menuItemHover: rgb(90, 90, 90);
    --menuExpandFolderHover: rgb(120, 120, 120);

    --contentBackground: rgb(195, 223, 224);
    --contentLinks: rgb(11, 78, 133);
}

/* Configurable fonts */
@font-face {
    font-family: BrandingText;
    src: url(Fonts/Monda/static/Monda-SemiBold.ttf);
}
@font-face {
    font-family: ContentText;
    src: url(Fonts/Inter/static/Inter_18pt-Regular.ttf);
}

* {
    font-family: ContentText;
}

p,
i,
a,
b,
u {
    font-size: 16px;
}

.hidden {
    display: none;
}
.hiddenMobile {
    display: none;
}

body {
    display: flex;
    flex-direction: column;

    padding: 0px;
    margin: 0px;
    min-height: 100vh;

    overflow-x: hidden;
    max-width: 100%;
}

#header {
    background-color: var(--headerBackground);

    padding: 10px;
}
#mainHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

/* Branding styles */
#branding {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none; /* Get rid of the underline from using an a tag */
}
#branding:hover {
    cursor: pointer;
}
#brandingText {
    margin: 15px;
    color: whitesmoke;
    font-family: BrandingText;
    font-size: 20px;
}
#brandingImage {
    width: 50px;
    box-shadow: rgba(0, 0, 0, 63) 0 0 4px;
}

#openMenuButton {
    width: 40px;
    height: 40px;

    border: 1px solid var(--headerDetails);
}

.headerDisclaimer {
    color: var(--headerDisclaimer);
    font-size: small;
    padding: 10px 20px;
    font-style: italic;
    text-align: center;
}
.mutedLink {
    color: unset;
    font-size: unset;
}

/* Lines between menu items */
.menuItem {
    border-top: 1px solid var(--headerDetails);
}
#menu > .menuItem:last-child {
    border-bottom: 1px solid var(--headerDetails);
}

.menuItemDisplay {
    display: flex;
    height: 30px;
    padding: 5px;
}
.menuItemDisplay > a {
    flex: 1;
    display: flex;
    align-items: center;

    color: var(--menuItemText);
    text-decoration: none;
}
.menuItemDisplay > a:hover {
    color: var(--menuItemHover);
}
.menuItemDisplay > img {
    height: 100%;
    aspect-ratio: 1;
    cursor: pointer;
}

/* Make folders add an indent for their children */
.folderContent {
    padding-left: 20px;
}

/* === MAIN PAGE === */

#content {
    background-color: var(--contentBackground);
    flex: 2;
}

#content a {
    color: var(--contentLinks);
}

.page {
    background-color: white;
    margin: 10px;
    padding: 20px;
}
.pageHeader {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0px;
}
.pageHeader > p {
    margin: unset;
    font-size: 36px;
}

.pageText {
    margin-bottom: 10px;
}

.pageImage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.pageImage > img {
    width: 100%;
}

.pageCode {
    border: 1px black solid;
    padding: 7px;
    margin-bottom: 10px;
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
}

/* Medium size */
@media (min-width: 500px) {
    .page {
        margin: 30px;
        padding: 30px;
    }
}

/* Large size */
@media (min-width: 800px) {
    .hiddenMobile {
        display: unset;
    }

    body {
        flex-direction: row;
    }

    p,
    i,
    a,
    b,
    u {
        font-size: calc(max(1.25vw, 16px));
    }

    #header {
        flex: 1;
        max-width: 370px;
    }

    #openMenu {
        display: none;
    }

    #menu {
        margin: 15px;
    }

    .menuItemDisplay > img:hover {
        background-color: var(--menuExpandFolderHover);
    }

    .page {
        margin: 60px;
    }
}
